.login-page {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* LEFT PANEL */
.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
}

.login-card {
  width: 350px;
  padding: 40px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo {
  width: 55px;
  margin-bottom: 10px;
}

.login-title {
  font-size: 20px;
  margin-bottom: 22px;
  color: #f7931e;
}

.login-heading {
  margin-bottom: 25px;
  font-size: 24px;
}

/* FORM */
.login-form {
  text-align: left;
}

.login-form label {
  font-size: 12px;
  font-weight: bold;
  color: #475569;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d7dfe9;
  margin-bottom: 18px;
  border-radius: 5px;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #f7931e;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #dd7a0b;
}

.error-msg {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* RIGHT IMAGE PANEL */
.login-right {
  flex: 1;
}

.login-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
